/* ============= Color custom ================ */

.text-headline {
    color: var(--neutral-oreo-darkest);
}

.text-cta {
    color: var(--primary-base);
}

.text-body-fig {
    color: var(--neutral-oreo-darker);
}

/* ======= btn-custom ============ */
.btn-primary-base {
    background-color: var(--primary-base) !important;
    color: #fff !important;
    border-color: var(--primary-base) !important;
}

/* Saat tombol ditekan (active), focus, atau focus-visible */
.btn-primary-base:active,
.btn-primary-base:focus,
.btn-primary-base:focus-visible,
.btn-check:checked + .btn-primary-base {
    background-color: var(--primary-base) !important;
    border-color: var(--primary-base) !important;
    color: #fff !important;
    box-shadow: none !important;
}

/* ============ bg-custom =============== */
.bg-primary-fig {
    background-color: var(--primary-base);
}