/*
 * custom styling
*/

.ph-24 {
    font-size: 24px;
}

.toast-success {
    background: #e8f8ee !important;
    color: #0f7a36 !important;
    border-left: 6px solid #20c063 !important;
}

.toast-error {
    background: #fdeaea !important;
    color: #c62828 !important;
    border-left: 6px solid #ff5252 !important;
}

.toast-warning {
    background: #fff8e1 !important;
    color: #b68b00 !important;
    border-left: 6px solid #ffca28 !important;
}